<!DOCTYPE html>
    <html>
        <head>
        </head>
        
        <body>
            <div class="container">
                <div class="bezel">
                    <div class="status-bar">
                        <div class="status-right">
                        </div>
                        <div class="status-left">
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </body>
    </html>