<!DOCTYPE html>
    <html>
        <head>
        </head>
        
        <body>
            <div class="container">
                <div class="wallpaper container-size"></div>
                
                <div class="screen container-size">
                    
                    <div class="app-grid">
                        <div class="app-row three-apps">
                            <div class="app-button">
                            </div>
                            <div class="app-button">
                            </div>
                            <div class="app-button">
                            </div>
                        </div>
                        <div class="app-row three-apps">
                            <div class="app-button">
                            </div>
                            <div class="app-button">
                            </div>
                            <div class="app-button">
                            </div>
                        </div>
                        <div class="app-row">
                            <div class="app-button">
                            </div>
                            <div class="app-button">
                            </div>
                            <div class="app-button">
                            </div>
                            <div class="app-button">
                            </div>
                            <div class="app-button">
                            </div>
                        </div>
                    </div>

                    <div class="profile-widget"></div>
                    
                    <div class="status-bar">
                        <div class="status-right">
                        </div>
                        <div class="status-left">
                        </div>
                    </div>
                    <div class="dock">
                    </div>
                </div>
                <div class="bezel">
                </div>
            </div>
        </body>
    </html>
 <!-- <br/>
<br/> -->

<router-outlet></router-outlet>