<div class="main">
    <div class="phone">
        <div class="status-bar"></div>
        <div id="resume-html">
            <h1><strong>CRYSTAL HUANG</strong></h1>
            <p><span style="color: #351c75;"><strong>Computer Science Undergraduate @ University of Toronto</strong></span></p>
            <p><span style="color: #351c75;"><strong>Phone:</strong> (647) 787-7423 | <strong>Email:</strong> crystalc.huang@mail.utoronto.ca | <a target=”_blank” [href]="githubLink"><strong>GitHub:</strong> cdecry</a> | <a target=”_blank” [href]="linkedinLink"><strong>LinkedIn: </strong>crystalchuang</a></span></p>
            <br>
            <h3><span style="color: #351c75;"><strong>EDUCATION</strong></span></h3>
            <p><strong>University of Toronto Scarborough</strong> &nbsp; &nbsp; <em class="just-right">September 2021 - June 2025</em></p>
            <p><span style="color: #351c75;">Honours Bachelor of Science, Computer Science Specialist Co-op</span></p>
            <ul>
            <li><strong>Awards: </strong>University of Toronto Entrance Scholarship ($2000)</li>
            <li><strong>Relevant coursework: </strong>Software Design, Introduction to Software Engineering, Software Tools and Systems Programming, Introduction to Theory of Computation</li>
            </ul>
            <br>
            <p><span style="color: #351c75;"><strong>SKILLS</strong></span></p>
            <p>Languages: Java, C#, C++, Python, SQL, C, React, JavaScript, Angular, Typescript, HTML, CSS</p>
            <p>Tools: Git, JUnit, Linux, SQLite, MongoDB, Unity, Bash, Visual Studio Code, Android Studio. React, Angular</p>
            <br>
            <p><span style="color: #351c75;"><strong>EXPERIENCE </strong></span></p>
            <p><span style="color: #434343;"><strong>Hackathon Mentor, Marketing team</strong></span><span style="color: #434343;"> &nbsp; &nbsp; <em class="just-right">April 2022 - May 2022</em></span></p>
            <p><span style="color: #351c75;">BridgeTO Youth &amp; Amazon, Toronto, ON</span></p>
            <ul>
            <li>Mentored and assisted around 150 students to create their own music tracks using Python and a simple API as submissions for the Hackathon</li>
            <li>Encouraged students and ensured their understanding of the modules by assisting them with their bugs and technical issues</li>
            <li>Collaborated with the marketing team to promote the event and reach 100s of youth on social media platforms</li>
            </ul>
            <br>
            <p><span style="color: #351c75;"><strong>PROJECTS</strong></span></p>
            <p><span style="color: #434343;"><strong>Sports Event Scheduler</strong></span><span style="color: #434343;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong></span><span style="color: #434343;"><em class="just-right">July 2022 - August 2022</em></span></p>
            <p><span style="color: #351c75;">Sports-Scheduling Android Application</span></p>
            <ul>
            <li>Collaborated closely with 6 Scrum team members for 2 weeks, hosted daily standup meetings and used Jira to manage progress of project development</li>
            <li>Designed and maintained a Firebase realtime database using REST API and HTTPS to store, manage, and authenticate customer data</li>
            <li>Implemented frontend UI and backend functionality in Java in order to complete 8 user stories in a short period of time</li>
            <li>Continuously develop and refactor modules in order to improve code reusability and allow thorough unit-testing</li>
            </ul>
            <br>
            <p><span style="color: #434343;"><strong>Mirai Game</strong></span><span style="color: #434343;"><strong>&nbsp; </strong></span><span style="color: #434343;"><em class="just-right">December 2020 - April 2022</em></span></p>
            <p><span style="color: #351c75;">Virtual World MMORPG</span></p>
            <ul>
            <li>Built a game server with a custom TCP/UDP networking solution in C# suitable for 100s of users to be concurrently online</li>
            <li>Created and managed databases with mySQL to properly handle user and in-game data</li>
            <li>Developed over 15 total in-game features and systems in C# using UnityEngine including chat system, inventory system, etc. in order to implement basic functionalities of an MMO</li>
            <li>Used GIT to create/merge branches of the project such that version control for game remained clean and manageable</li>
            </ul>
            <br>
            <p><span style="color: #434343;"><strong>Fantage Emulator</strong></span><span style="color: #434343;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong></span><span style="color: #434343;"><strong> &nbsp; </strong></span><span style="color: #434343;"><em class="just-right">July 2019</em></span></p>
            <p><span style="color: #351c75;">Single-player Game</span></p>
            <ul>
            <li>Developed a website with a combination of HTML5, CSS, and JavaScript to host an interactive emulation of a game</li>
            <li>Designed and implemented the user interface of the game with HTML5&rsquo;s canvas element and CSS</li>
            <li>Composed JQuery scripts to implement player controller, movement, and other singleplayer features of the game</li>
            </ul>
            <br>
            <p><span style="color: #434343;"><strong>Planet</strong></span><span style="color: #434343;"><strong>&nbsp; </strong></span><span style="color: #434343;"><em class="just-right">August 2021 - October 2021</em></span></p>
            <p><span style="color: #351c75;">Discord Trello Tool &amp; Planning Bot</span></p>
            <ul>
            <li>Applied knowledge of .NET to develop team-planning bot using the Discord.NET library</li>
            <li>Used TrelloAPI to develop commands and functionality such that users may link their account, easily set and change boards, and navigate boards, lists, and cards through the client</li>
            <li>Created and managed the bot database with Microsoft EntityFrameworkCore</li>
            <li>Communicated and worked with a team of artists and programmers to fulfill creative design and game design elements</li>
            <li>Used GIT and GithubDesktop for version control</li>
            </ul>
        </div>
    </div>
</div>

<!-- <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 70%; height: 1000px"></pdf-viewer> -->
