*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.main{
	width: 100%;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	background-image: linear-gradient(to top right, rgba(212,0,255,255) , rgba(146,88,255,255), rgba(87,186,255,255));
}

.phone{
	width: 80%;
	height: 95%;
	background-image: url(src/assets/wallpapers/cyber.gif);
    background-size: 119%;
    background-position: center;
	border-radius: 3rem;
	border: 16px solid rgb(0, 0, 0);
	display: grid;
	justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	box-shadow: 0 0 50px 18px rgba(90, 77, 97, 0.599);
    cursor: url('src/assets/cursor.svg'), auto;
    overflow: hidden;
}

.status-bar {
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    height: 2vw;
    width: 80vw;
}

.icons {
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 6vw;
    row-gap: 4.5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 17vh;
}

.app {
    width: 5vw;
    /* background-image: linear-gradient(to top right, rgba(212,0,255,0.9), rgba(87,186,255,0.9)); */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    aspect-ratio: 1/1;
    box-shadow: 1px 1px 0.5px 0.5px rgba(255, 255, 255, 0.3);
}

.dock-app {
    width: 5vw;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    aspect-ratio: 1/1;
    box-shadow: 1px 1px 0.5px 0.5px rgba(255, 255, 255, 0.3);
    margin-left: 1vw;
    margin-right: 1vw;;
}

.dock {
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px red solid;
    background-color: rgba(255, 255, 255, 0.6);
    width: wrap;
    height: 7vw;
    top: 83%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1vw;
}