*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.main{
	width: 100%;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	background-image: linear-gradient(to top right, rgba(212,0,255,255) , rgba(146,88,255,255), rgba(87,186,255,255));
}

.phone{
	width: 80%;
	height: 95%;
	background-color: white;
	border-radius: 3rem;
	border: 16px solid rgba(0, 0, 0, 08);
	display: grid;
	justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	box-shadow: 0 0 50px 18px rgba(90, 77, 97, 0.599);
}

.bezel{
	width: 150px;
	height: 4.5%;
}