<div class="main">
    <div class="phone">
        <div class="status-bar"></div>
        <div class="icons">

            <a routerLink="/resume">
                <div class="app">
                    <div class="icon" id="resume"></div>
                    <p class="app-name">Resume</p>
                </div>
            </a>
            <a routerLink="/about-me">
                <div class="app">
                    <div class="icon" id="about-me"></div>
                    <p class="app-name">About Me</p>
                </div>
            </a>
            <div class="app">
                <div class="icon" id="settings"></div>
                <p class="app-name">Settings</p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
        
        
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
        
        
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            
        
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
            <div class="app">
                <div class="icon" id=""></div>
                <p class="app-name"></p>
            </div>
        </div>
        <div class="dock">
            <a href=""><div class="dock-app" id="help"></div></a>
            <a target="_blank" href="https://github.com/cdecry"><div class="dock-app" id="github"></div></a>
            <a target="_blank" href="https://www.linkedin.com/in/crystalchuang/"><div class="dock-app" id="linkedin"></div></a>
            <a href=""><div class="dock-app" id="contact"></div></a>
        </div>
    </div>
</div>
