


 <!-- loading screen -->
 
 <div class="wallpaper">
     <div class="icons">

        <a routerLink="/resume">
            <div class="app">
                <div class="icon" id="resume"></div>
                <p class="app-name">Resume</p>
            </div>
        </a>
        <a routerLink="/about-me">
            <div class="app">
                <div class="icon" id="about-me"></div>
                <p class="app-name">About Me</p>
            </div>
        </a>
        <a routerLink="/home">
            <div class="app">
                <div class="icon" id="settings"></div>
                <p class="app-name">Settings</p>
            </div>
        </a>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        
    
    
        <a target="_blank" href="https://github.com/cdecry/sports-event-scheduler"><div class="app">
            <div class="icon" id="sports"></div>
            <p class="app-name">Sports Scheduler</p>
        </div></a>
        <a target="_blank" href="https://github.com/cdecry/Mirai"><div class="app">
            <div class="icon" id="mirai"></div>
            <p class="app-name">Mirai Game</p>
        </div></a>
        <a target="_blank" href="https://github.com/cdecry/Planet"><div class="app">
            <div class="icon" id="planet"></div>
            <p class="app-name">Planet Bot</p>
        </div></a>
        <a target="_blank" href="https://github.com/cdecry/FantageSimulator"><div class="app">
            <div class="icon" id="fantage"></div>
            <p class="app-name">Fantage Simulator</p>
        </div></a>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
    
    
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        
    
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
        <div class="app">
            <div class="icon" id=""></div>
            <p class="app-name"></p>
        </div>
    </div>
    <div class="dock">
        <a href=""><div class="dock-app" id="help"></div></a>
        <a target="_blank" href="https://github.com/cdecry"><div class="dock-app" id="github"></div></a>
        <a target="_blank" href="https://www.linkedin.com/in/crystalchuang/"><div class="dock-app" id="linkedin"></div></a>
        <a href=""><div class="dock-app" id="contact"></div></a>
    </div>
</div>
