body {
    bottom: 2vh;
    width: 100%;
	height: 94vh;
    position: relative;
}
* {
    box-sizing: border-box;
    position: relative;
    border: 1px solid red;
  }
  .container {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    overflow: scroll;
    justify-content: center;
    position: relative;
    display: grid;
    grid-auto-flow: column;
  }
  .settings-menu {
    width: 25vw;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: block;
  }
  /*
  .scrollable-menu {
    width: 574px;
    height: 863px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    top: 161px;
    left: 0px;
    overflow-y: scroll;
  }
  .settings-item {
    width: 574px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .item-label {
    width: 100%;
    text-align: left;
    color: rgba(0,0,0,1);
    padding: 1vw;
    font-family: Inter;
    font-weight: Regular;
    font-size: 1.5vw;
    opacity: 1;
    text-align: left;
  }
  .search-bar {
    width: 574px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    top: 109px;
    left: 0px;
    overflow: hidden;
  }
  .menu-title {
    width: 118px;
    color: rgba(0,0,0,1);
    top: 37px;
    left: 228px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  */
  .options-menu {
    width: 40vw;
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
    display: block;
  }
  /*
  .option-item {
    width: 866px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .top-bar {
    width: 866px;
    height: 109px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
  } */