<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    </head>
    
    <body>
        <div class="container">
            <div class="settings-menu">
                <div class="scrollable-menu">
                    <div class="settings-item">
                        <span class="item-label">Wallpaper</span>
                    </div>
                </div>
                <div class="search-bar"></div>
                <div class="top-bar">
                    <span class="menu-title">Settings</span>
                </div>
            </div>
            <div class="options-menu">
                <div class="scrollable-menu">
                    <div class="option-item">
                        <span class="item-label">Choose a new wallpaper </span>
                    </div>
                </div>
                <div class="top-bar">
                    <span class="menu-title">General</span>
                </div>
            </div>
        </div>
    </body>
</html>